version: '3.9'

services:
  backend:
    build:
      context: .
      dockerfile: Dockerfile.backend
    container_name: fastapi-backend
    ports:
      - "8000:8000"
    volumes:
      - ./model:/app/model
    restart: unless-stopped
  
  frontend:
    build:
      context: .
      dockerfile: Dockerfile.frontend
    container_name: streamlit-frontend
    ports:
      - "8501:8501"
    depends_on:
      - backend
    environment:
      - API_URL=http://backend:8000
    restart: unless-stopped